{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "flowtype",
    "jest",
    "mutation",
    "react-props-in-state",
    "chai-expect",
    "lodash"
  ],
  "extends": [ "airbnb" ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-bitwise": 1,
    "no-plusplus": 1,
    "no-useless-return": 1,
    "react-props-in-state/rules": 2,
    "array-bracket-spacing": [ 2, "always" ],
    "arrow-body-style": 0,
    "comma-dangle": [ 2, "always-multiline" ],
    "consistent-return": 0,
    "camelcase": 1,
    "default-case": 0,
    "dot-notation": 0,
    "func-names": 0,
    "global-require": 0,
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 0,
    "import/first": [0, "absolute-first"],
    "import/named": 2,
    "import/namespace": 2,
    "import/no-extraneous-dependencies": [
      "warn", {
        "devDependencies": true
      }
    ],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "coffee": "never"
    }],
    "indent": 0,
    "indent-legacy": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1,
      "outerIIFEBody": 1
    }],
    "arrow-parens": ["error", "always"],
    "class-methods-use-this": 0,
    "import/no-unresolved": [
      "error", {
        "commonjs": true,
        "amd": true,
        "ignore": [ "electron" ]
      }
    ],
    "import/prefer-default-export": 1,
    "import/no-duplicates": 2,
    "no-duplicate-imports": 0,
    "jsx-quotes": 0,
    "new-cap": 0,
    "max-len": 0,
    "no-console": [
      "error", {
        "allow": [
          "debug",
          "info",
          "warn",
          "error",
          "fatal"
        ]
      }
    ],
    "no-fallthrough": 1,
    "no-global-assign": 0,
    "no-irregular-whitespace": [
      "error", {
        "skipStrings": true,
        "skipTemplates": true,
        "skipRegExps": true
      }
    ],
    "no-lonely-if": 0,
    "no-param-reassign": 0,
    "no-shadow": 1,
    "no-underscore-dangle": 0,
    "no-unsafe-negation": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [
      "warn", {
        "vars": "all",
        "caughtErrors": "all"
      }
    ],
    "no-use-before-define": [
      "warn", {
        "functions": false,
        "classes": true
      }
    ],
    "quote-props": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": ["warn", {
      "customValidators": [],
      "skipShapeProps": true
    }],
    "react/forbid-prop-types": [0],
    "react/no-array-index-key": 1,
    "react/no-find-dom-node": 1,
    "react/prop-types": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/prefer-stateless-function": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],
    "react/sort-prop-types": [2, {
      "requiredFirst": true,
      "callbacksLast": true,
      "ignoreCase": true,
      "noSortNonCallbackAlphabetically": true
    }],
    "react/sort-context-types": [2, {}],
    "react/jsx-sort-props": [2, {
      "reservedFirst": [ "key", "ref", "dangerouslySetInnerHTML" ],
      "callbacksLast": true,
      "ignoreCase": true,
      "noSortNonCallbackAlphabetically": true
    }],
    "react/no-unescaped-entities": 0,
    "semi": [ 2, "never" ],
    "flowtype/array-style-complex-type": [ 2, "verbose" ],
    "flowtype/array-style-simple-type": [ 2, "verbose" ],
    "flowtype/arrow-parens": [ 2, "always" ],
    "flowtype/boolean-style": [ 2, "boolean" ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [ 2, "always-multiline" ],
    "flowtype/generic-spacing": [ 2, "never" ],
    "flowtype/newline-after-flow-annotation": 2,
    "flowtype/no-dupe-keys": 2,
    "flowtype/no-existential-type": 0,
    "flowtype/no-flow-fix-me-comments": 1,
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/no-weak-types": 0,
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-types-at-top": 1,
    "flowtype/require-valid-file-annotation": [ 2, "never", {
      "annotationStyle": "line"
    }],
    "flowtype/semi": [ 2, "never" ],
    "flowtype/space-after-type-colon": [ 2, "always" ],
    "flowtype/space-before-generic-bracket": [ 2, "never" ],
    "flowtype/space-before-type-colon": [ 2, "never" ],
    "flowtype/spread-exact-type": 2,
    "flowtype/type-id-match": 0,
    "flowtype/union-intersection-spacing": [ 2, "always" ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "mutation/no-mutation": [
      "warn", {
        "exceptions": [
          "this",
          "that",
          "global",
          "window"
        ]
      }
    ],
    "jest/no-focused-tests": "error",
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/iframe-has-title": 0,
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 2,
    "chai-expect/no-inner-compare": 0,
    "lodash/import-scope": [2, "method"]
  },
  "globals": {
    "require": false,
    "ga": false,
    "shallowRender": false,
    "mountRender": false,
    "jest": false,
    "__ISWEB__": false,
    "Dropbox": false,
    "isMac": false,
    "isDevelopment": false,
    "browserOptions": false,
  },
  "settings": {
     "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    },
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parser": "babel-eslint"
  }
}
