.tag {
  display: inline-block;
  border-radius: 3px;
  background-color: #ededed;
  white-space: nowrap;
  margin: 2px;
  height: 25px;
}

.tag__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.tag__label {
  display: inline-block;
  font-size: 1.1rem;
  padding: 4px 10px;
  cursor: pointer;
}

.tag__label::selection {
  background: transparent;
}

.tag__remove-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  border: none;
  background: transparent;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.tag__remove-button::before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: "\00D7";
  width: 15px;
  height: 15px;
  font-size: 16px;
  color: #c2c2c2;
  line-height: 0.85;
}

.tag__remove-button::selection {
  background: transparent;
}

.tag--focused {
  box-shadow: 0 0 0 1px black; 
}

