.tagsinput {
  border-width: 1px;
  border-style: solid;
  border-color: #ededed;
  padding: 3px;
}

.tagsinput--focused {
  border-color: black;
}

.collapsible-tagsinput {
  height: 100%;
}

/* HACK: This will need to be sorted by
 * creating separate custom node for query
 * part of the input */
.tagsinput > div > div > span:only-child,
.tagsinput > div > div > span:last-child {
  display: inline-block;
}
.tagsinput > div > div > span:only-child {
  padding: 3px;
}

