.avocode-email-tagsinput-counter {
  margin: 5px;
  padding: 2px 4px;
  background-color: #ededed;
  border: 1px solid #ededed;
  cursor: pointer;
  font-size: 0.8rem;
}

.avocode-email-tagsinput-counter:hover,
.avocode-email-tagsinput-counter:active {
  border: 1px solid black;
}
