@import './variables-light.css';
@import './variables-dark.css';

.avocode-email-tagsinput--styled-avocode-email-tagsinput--light,
.avocode-email-tagsinput--styled-avocode-email-tagsinput--dark,
.avocode-email-tagsinput-collapsible--styled-avocode-email-tagsinput--light,
.avocode-email-tagsinput-collapsible--styled-avocode-email-tagsinput--dark,
.avocode-email-tagsinput-collapsible--styled-avocode-email-tagsinput--error,
.avocode-email-tagsinput--styled-avocode-email-tagsinput--error,
.styled-avocode-email-tagsinput--light--error,
.styled-avocode-email-tagsinput--dark--error {
  --brand-color: #00bc87; /* NOTE: avocode-ui color `main-color-brand-highlight` */
  --error-color: #f83a35; /* NOTE: avocode-ui color `error-color-brand` */

  --text-size: 10px; /* NOTE: Opinionated size so input looks good */

  --counter-min-width: 25px;
}
