.avocode-email-tagsinput--styled-avocode-email-tagsinput--light,
.avocode-email-tagsinput-collapsible--styled-avocode-email-tagsinput--light {
  --text-color-contrast: #2e2e2e;
  --input-border-color: #dadada;
  --input-background-color: #fff;
}

