.avocode-email-tagsinput-collapsible--email-collapsible {
  width: 450px;
  height: 30px;
  overflow: hidden;
  justify-content: space-between;
}

.avocode-email-tagsinput-collapsible--email-collapsible--focused {
  border-color: black;
  height: 74px;
  overflow: auto;
}

.collapsible-tagsinput--email-collapsible {
  width: 400px;
}

.tagsinput--email-collapsible,
.tagsinput--email-collapsible--focused {
  border-width: 0px;
}

.tagsinput--custom-email-collapsible {
  width: 400px;
  height: 26px;
  overflow: hidden;
  border: none;
}

.avocode-email-tagsinput-collapsible--custom-email-collapsible {
  flex-direction: column;
  flex-flow: row-reverse;
  width: 500px;
  justify-content: space-between;
}

.tagsinput--custom-email-collapsible--focused {
  height: 200px;
}

.email-collapsible-custom-counter {
  font-weight: 800;
  font-family: monospace;
  font-size: 1.2rem;
  background-color: pink;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
