.avocode-email-tagsinput-collapsible--email-collapsible {
  width: 450px;
}

.avocode-email-tagsinput-collapsible--email-collapsible--focused {
  border-color: black;
}

.collapsible-tagsinput--email-collapsible {
  height: 74px;
  border-color: black;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.collapsible-tagsinput--email-collapsible--collapsed {
  height: 29px;
  overflow: hidden;
}

.tagsinput--email-collapsible {
  padding: 0px;
}

.tagsinput--email-collapsible--focused {
  border-width: 0px;
}


.tagsinput--custom-email-collapsible {
  width: 400px;
  height: 29px;
  overflow: hidden;
  border: none;
}

.avocode-email-tagsinput-collapsible--custom-email-collapsible {
  flex-direction: column;
  flex-flow: row-reverse;
  width: 500px;
  justify-content: space-between;
}

.tagsinput--custom-email-collapsible--focused {
  height: 200px;
}

.avocode-email-tagsinput-counter--email-collapsible {
  margin-right: 5px;
}

.email-collapsible-custom-counter {
  font-weight: 800;
  font-family: monospace;
  font-size: 1.2rem;
  background-color: pink;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.avocode-email-tagsinput--long-input {
  width: 400px;
}

