.tag--basic-state--error {
  border: 1px solid red;
}

.tag--controlled--warning {
  box-shadow: 0 0 0 2px orange;
}

.tag--controlled--highlight {
  box-shadow: 0 0 0 2px lightgreen;
}

.tagsinput--collapsing-input {
  border-width: 0px;
}

.collapsible-tagsinput--collapsing-input {
  width: 400px;
  height: 80px;
  overflow: auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.collapsible-tagsinput--collapsing-input--collapsed {
  height: 35px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
}

.my-custom-tag {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  margin-right: 3px;
  cursor: pointer;
}

.my-custom-tag--focused {
  filter: invert(100%);
  box-shadow: 0 0 0 1px pink;
}
