:root {
  --playground-text: 18px;
  --playground-bigger-text: 20px;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

code {
  background-color: lightgrey;
  font-size: var(--playground-text);
}

p {
  font-size: var(--playground-text);
}

.app {
  display: flex;
  flex-direction: column;
}

.app-container {
  margin: 10px;
  display: flex;
}

.app-container__header {
  margin: 10px;
  flex: 2;
}

.app-container__header nav * {
  font-size: var(--playground-bigger-text);
}

.app-container__api {
  margin: 10px;
  flex: 1;
}

.version-header {
  padding: 3px;
  font-size: 10px;
  text-align: center;
  font-family: sans-serif;
  background-color: lightgray;
  margin: 0 auto;
}

.version-header code {
  font-size: 10px;
}

.nav, .subnav {
  padding-left: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
  font-size:1.2rem;
}

.subnav-item {
  display: inline-block;
  margin-right: 5px;
  font-size:1.1rem;
}

.api-view {
  max-height: 100vh;
  overflow: auto;
  font-size: var(--playground-text);
}

.state-view {
  max-height: 300px;
  overflow-y: auto;
  font-size: var(--playground-text);
  margin: 10px 0;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.api-view__loading {
  animation-duration: 0.3s;
  animation-name: opacity;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}
